# env
.env
.env.*
**/.env
**/.env.*
*.env
test.env

# node
node_modules/
**/node_modules/

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build
dist/
build/
**/dist/
**/build/

# system
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/